<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="{{ url_for('static', filename= 'jquery-1.12.4.min.js')}}"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
    <script src="{{ url_for('static', filename= 'register.js')}}"></script>
</head>
<body>
<form id='reg_form2' method="post" action="/register">
        <ul>
            <li>
                <label>用户名:</label>
                <input type="text" name="user_name" id="user_name">
                <span class="error_tip"></span>
            </li>
            <li>
                <label>密码:</label>
                <input type="password" name="pwd" id="pwd">
                <span class="error_tip"></span>
            </li>
            <li>
                <label>确认密码:</label>
                <input type="password" name="cpwd" id="cpwd">
                <span class="error_tip"></span>
            </li>
            <li>
                <label>邮箱:</label>
                <input type="text" name="email" id="email">
                <span class="error_tip"></span>
            </li>
            <li class="reg_sub">
                <input type="submit" value="注 册" name="">
            </li>
        </ul>
</form>
</body>
</html>